{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  
<head>
  <meta charset="utf-8">
  <title>Dashboard</title> 
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  
  
</head>
  
<body>
  <center class="row" style="background-color: #002B5B; padding-bottom: 20px;">
    <img src="{% static 'CIT.jpeg' %}" style="float: left; height: 75px; margin-left: 40px;">
    <img src="{% static 'IEE.png' %}" style="float: right; height: 75px; margin-right: 40px;">
    <h1 style="color: white"><b>Factory System Dashboard</b></h1>
  </center>




  <div style="background-color: #1A5F7A; padding: 1px">
    <center><h1 style="color: white">Smart Farm</h1></center>
    <div class="row" style="border-radius: 10px; margin: 10px;background-color: #D8D8D8;">
      <div><center><h2>Susu Hewani dan Telur</h2></center></div>
      <div class="col-md-3">
        <h3>Yolk Color Hue: <span id="yolk"></span> H&#176;</h3>
      </div>
      <div class="col-md-3">
        <h3>Ammonia: <span id="ammonia"></span> ppm</h3>
      </div>
      <div class="col-md-3">
        <h3>Dairy Bacterial: <span id="bacteria"></span> CFU/mL</h3>
      </div>
      <div class="col-md-3">
        <h3>Air Purifier: <span id="purifier"></span> m<sup>3</sup>/h</h3>
      </div>
    </div>
  
    <div class="row" style="border-radius: 10px; margin: 10px;background-color: #D8D8D8;">
      <div><center><h2>Daging Merah</h2></center></div>
      <div class="col-md-3">
        <h3>Humidity: <span id="humidity"></span> % RH</h3>
      </div>
      <div class="col-md-3">
        <h3>Ozone: <span id="ozone"></span> ppb</h3>
      </div>
      <div class="col-md-3">
        <h3>Gas: <span id="gas"></span> ppm</h3>
      </div>
      <div class="col-md-3">
        <h3>Water Misting: <span id="misting"></span> ml/min</h3>
      </div>
    </div>
  
    <div class="row" style="border-radius: 10px; margin: 10px;background-color: #D8D8D8;">
      <div><center><h2>Daging Putih</h2></center></div>
      <div class="col-md-3">
        <h3>Fat Content: <span id="fat"></span> %</h3>
      </div>
      <div class="col-md-3">
        <h3>Impedance: <span id="impedance"></span> ohms</h3>
      </div>
      <div class="col-md-3">
        <h3>Acidity: <span id="ph"></span> pH</h3>
      </div>
      <div class="col-md-3">
        <h3>Vinegar Sprayer: <span id="vinegar"></span> %</h3>
      </div>
    </div>
  </div>



  <div style="background-color: #159895; padding: 1px">
    <center><h1 style="color: white">Smart Plantation</h1></center>
    <div class="row" style="border-radius: 10px; margin: 10px;background-color: #D8D8D8;">
      <div><center><h2>Sumber Karbohidrat</h2></center></div>
      <div class="col-md-3">
        <h3>Moisture: <span id="moisture"></span> %</h3>
      </div>
      <div class="col-md-3">
        <h3>Texture: <span id="texture"></span> N/m²</h3>
      </div>
      <div class="col-md-3">
        <h3>Density: <span id="density"></span> kg/m³</h3>
      </div>
      <div class="col-md-3">
        <h3>Infrared Heater: <span id="heater"></span> m<sup>3</sup>/h</h3>
      </div>
    </div>
  
    <div class="row" style="border-radius: 10px; margin: 10px;background-color: #D8D8D8;">
      <div><center><h2>Sayuran</h2></center></div>
      <div class="col-md-3">
        <h3>Photosynthetic Activity: <span id="activity"></span> AU</h3>
      </div>
      <div class="col-md-3">
        <h3>Ethylene: <span id="ethylene"></span> ppm</h3>
      </div>
      <div class="col-md-3">
        <h3>Temperature: <span id="temperature"></span> &#176;C</h3>
      </div>
      <div class="col-md-3">
        <h3>Grow Light: <span id="growlight"></span> lumens</h3>
      </div>
    </div>
  
    <div class="row" style="border-radius: 10px; margin: 10px;background-color: #D8D8D8;">
      <div><center><h2>Buah-buahan</h2></center></div>
      <div class="col-md-3">
        <h3>Fat Content: <span id="weight"></span> %</h3>
      </div>
      <div class="col-md-3">
        <h3>Impedance: <span id="maturity"></span> ohms</h3>
      </div>
      <div class="col-md-3">
        <h3>Acidity: <span id="ripeness"></span> pH</h3>
      </div>
      <div class="col-md-3">
        <h3>Vinegar Sprayer: <span id="humidifier"></span> %</h3>
      </div>
    </div>
  </div>





  <div style="background-color: #57C5B6; padding: 1px">
    <center><h1 style="color: white">Smart Restaurant</h1></center>
    <div class="row" style="border-radius: 10px; margin: 10px;background-color: #D8D8D8;">
      <div><center><h2>Deteksi Musim</h2></center></div>
      <div class="col-md-3">
        <h3>Soil moisture: <span id="soil"></span> %</h3>
      </div>
      <div class="col-md-3">
        <h3>UV index: <span id="uv"></span></h3>
      </div>
      <div class="col-md-3">
        <h3>Wind direction: <span id="wind"></span> mph</h3>
      </div>
      <div class="col-md-3">
        <h3>HVAC: <span id="hvac"></span> m<sup>3</sup> %</h3>
      </div> 
    </div>
  
    <div class="row" style="border-radius: 10px; margin: 10px;background-color: #D8D8D8;">
      <div><center><h2>Deteksi Hasil Penjualan Berfluktuasi</h2></center></div>
      <div class="col-md-3">
        <h3>Ambient noise: <span id="noise"></span> dB</h3>
      </div>
      <div class="col-md-3">
        <h3>Table turnover: <span id="turnover"></span> min/table</h3>
      </div>
      <div class="col-md-3">
        <h3>Wait time: <span id="wait"></span> min</h3>
      </div>
      <div class="col-md-3">
        <h3>Estimated sales: <span id="sales"></span> dollars</h3>
      </div>
    </div>
  
    <div class="row" style="border-radius: 10px; margin: 10px;background-color: #D8D8D8;">
      <div><center><h2>Deteksi Jumlah Pengunjung Restoran</h2></center></div>
      <div class="col-md-3">
        <h3>Smell Intensity: <span id="smell"></span> ppm</h3>
      </div>
      <div class="col-md-3">
        <h3>CO2 Concentration: <span id="co2"></span> ppm</h3>
      </div>
      <div class="col-md-3">
        <h3>Dishwashing Frequency: <span id="dish"></span> min/dish</h3>
      </div>
      <div class="col-md-3">
        <h3>Total Number of Customer: <span id="customer"></span></h3>
      </div>
    </div>
  </div>


</body>

<script>
  function updateSensorValue(endpoint, id) {
    $.ajax({
      method: "GET",
      url: endpoint,
      success: function(data) {
          var value = document.getElementById(id);
          value.innerHTML = data.value;
      },
      error: function(error_data) {
          console.log(error_data);
      }
    })
  }

  function updateActuatorState(endpoint, id) {
    $.ajax({
      method: "GET",
      url: endpoint,
      success: function(data) {
          var state = document.getElementById(id);
          state.innerHTML = data.state;
      },
      error: function(error_data) {
          console.log(error_data);
      }
    })
  }

  setInterval(function(){
    updateSensorValue('/sensor/yolk', 'yolk');
    updateSensorValue('/sensor/ammonia', 'ammonia');
    updateSensorValue('/sensor/bacteria', 'bacteria');
    updateActuatorState('/actuator/purifier', 'purifier');

    updateSensorValue('/sensor/humidity', 'humidity');
    updateSensorValue('/sensor/ozone', 'ozone');
    updateSensorValue('/sensor/gas', 'gas');
    updateActuatorState('/actuator/fan', 'misting');

    updateSensorValue('/sensor/fat', 'fat');
    updateSensorValue('/sensor/impedance', 'impedance');
    updateSensorValue('/sensor/ph', 'ph');
    updateActuatorState('/actuator/vinegar', 'vinegar');

    updateSensorValue('/sensor/moisture', 'moisture');
    updateSensorValue('/sensor/texture', 'texture');
    updateSensorValue('/sensor/density', 'density');
    updateActuatorState('/actuator/heater', 'heater');

    updateSensorValue('/sensor/activity', 'activity');
    updateSensorValue('/sensor/ethylene', 'ethylene');
    updateSensorValue('/sensor/temperature', 'temperature');
    updateActuatorState('/actuator/growlight', 'growlight');

    updateSensorValue('/sensor/weight', 'weight');
    updateSensorValue('/sensor/maturity', 'maturity');
    updateSensorValue('/sensor/ripeness', 'ripeness');
    updateActuatorState('/actuator/humidifier', 'humidifier');

    updateSensorValue('/sensor/soil', 'soil');
    updateSensorValue('/sensor/uv', 'uv');
    updateSensorValue('/sensor/wind', 'wind');
    updateActuatorState('/actuator/hvac', 'hvac');

    updateSensorValue('/sensor/noise', 'noise');
    updateSensorValue('/sensor/turnover', 'turnover');
    updateSensorValue('/sensor/wait', 'wait');
    updateActuatorState('/actuator/sales', 'sales');

    updateSensorValue('/sensor/smell', 'smell');
    updateSensorValue('/sensor/co2', 'co2');
    updateSensorValue('/sensor/dish', 'dish');
    updateActuatorState('/actuator/customer', 'customer');
  }, 2000);

</script>
<style>
  .containers {
    padding: 20px;
  }
  h3 {
    text-align: center;
  }
</style>